# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.venv

# Database
*.db
*.sqlite

# Data files
data/
!data/bronze/
!data/silver/
!data/gold/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# dbt
target/
dbt_packages/
logs/
*.db
*.sqlite
finance_dbt/finance_data.db
finance_dbt/*.db
